<a href="https://colab.research.google.com/github/DaniCod3s/Learning_R/blob/main/learning_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
# Data Frame = A collection  of Columns
# Rules : 1) Same no of  of data items in each columns 2) columns should be named
names <- c("john", "carry", "Leah", "Jenna")
age <- c(24,51,20,19)
people <-data.frame(names,age)
head(people)
#str(people)

  names age
1 john  24
2 carry 51
3 Leah  20
4 Jenna 19

In [ ]:
# Tibbls
#Never Change the Data types of the inputs
#Never Change the names of your variables
# Never create Row names

#Tidy data standards
# Variales are organized into columns
# Observations are organzied into rows
# Each value must have its own cell

In [ ]:
data(diamonds)
#View(diamonds)
as_tibble(diamonds)

In [ ]:
# libraries for cleaning
# skimr - designed to provide summary statistics about variables in data frames, tibbles, data tables and vectors.
# janitor - Simple Tools for Examining and Cleaning Dirty Data
# here - enables easy file referencing by using the top-level directory of a file project to easily build file paths

penguins %>%
  select(-species)

penguins %>%
  rename(island_new = island)

rename_with(penguins, toupper)

clean_names(penguins)

In [ ]:
# penguins  %>% filter(species == "Adelie")
# penguins %>% group_by(species, island) %>% drop_na() %>% summarize(mean_bill_length_mm = mean(bill_length_mm), max_bl = max(bill_length_mm))

#Organizational functions help you sort, filter, and summarize your data.
#Cleaning functions help you preview and rename data so that it’s easier to work with
#Transformational functions help you separate and combine data, as well as create new variables

In [6]:
id = c(1:10)
name <- c("John Mendes", "Rob Stewart", "Rachel Abrahamson", "Christy Hickman", "Johnson Harper", "Candace Miller", "Carlson Landy", "Pansy Jordan", "Darius Berry", "Claudia Garcia")

job_title <- c("Professional", "Programmer", "Management", "Clerical", "Developer", "Programmer", "Management", "Clerical", "Developer", "Programmer")

print(employee)
separate( employee, name, into=c('First_name','Last_name'), sep=' ')

first_name <- c("John", "Rob", "Rachel", "Christy", "Johnson", "Candace", "Carlson", "Pansy", "Darius", "Claudia")
last_name <- c("Mendes", "Stewart", "Abrahamson", "Hickman", "Harper", "Miller", "Landy", "Jordan", "Berry", "Garcia")
employee = data.frame(id, name, job_title)
unite(employee, 'name', first_name, fast_name, sep = " ")

View(penguins)

penguins %>%
  mutate(body_mass_kg = body_mass_g/1000, flipper_length_m = flipper_length_mm/1000)

ERROR: ignored

In [ ]:
install.packages('Tmisc')
library(Tmisc)
data(quartet)
View(quartet)
quartet %>%
  group_by(set) %>%
   summarize(mean(x), sd(x), mean(y), sd(y), cor(x,y))

ggplot(quartet, aes(x, y)) + geom_point() + geom_smooth(method = lm, se = FALSE) + facet_wrap(~set)

install.packages('datasauRus')
library('datasauRus')

ggplot(datasaurus_dozen,aes(x=x,y=y,colour=dataset))+geom_point()+theme_void()+theme(legend.position = "none")+facet_wrap(~dataset,ncol=3)