<a href="https://colab.research.google.com/github/DaniCod3s/Learning_R/blob/main/learning_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
#
names <- c("john", "carry", "Leah", "Jenna")
age <- c(24,51,20,19)
people <-data.frame(names,age)
head(people)
str(people)

  names age
1 john  24
2 carry 51
3 Leah  20
4 Jenna 19

'data.frame':	4 obs. of  2 variables:
 $ names: chr  "john" "carry" "Leah" "Jenna"
 $ age  : num  24 51 20 19